In [8]:
# Tuples are similar to lists, the key difference is Tuples are immutable DS.

# Empty tuple
t = ()
print(t)

# Tuple having Integers
t = (1,2,3)
print(t)

# Nested tuple
t = (1, (2,3,4), 'Alex')
print(t)

()
(1, 2, 3)
(1, (2, 3, 4), 'Alex')

In [11]:
# We will need to add a , after Strings to make it work like a tuple or else it will work like a Str.
t = ('Alex')
print(type(t))

t = ('Alex',)
print(type(t))

t = 'Alex',
print(type(t))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [18]:
# Accessing elements in a Tuple
t = (1,2,3,'Alex')
print(t[1])

# Nested Tuple accessing elements
t=(1,2,3,(4,5))
print(t[3])
print(t[3][0])

2
(4, 5)
4

In [26]:
# Slicing in Tuple (Similar to Lists)
t = (1, 2, 3, 4, 5, 6)
print(t[1:4])
print(t[:-2])
print(t[:])
# t[2] = 'x' # This will throw an error since tuples are immutable

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

In [31]:
# A list in a tuple is mutable
t = (1,2,3,[4,5])
t[3][0] = -1
print(t)

# Concatenation in Tuples
t = (1,2,3) + (4,5,6)
print(t)

(1, 2, 3, [-1, 5])
(1, 2, 3, 4, 5, 6)

In [33]:
# Tuple deletion, we can only delete the whole tuple but we can't delete individual elements since
# Tuples are immutable
t = (1,2,3,4,5)
del t

In [45]:
# Tuple Count
t = (1, 2, 3, 4, 1, 3)
print(t.count(1))

# Tuple Index --> Returns the Index of the first occurence of the element in the Tuple
print(t.index(3))

# Tuple Membership
print(1 in t)
print(5 in t)
print(1 not in t)

2
2
True
False
False

In [50]:
# Built in Functions
t = (2, 3, 4, 1 ,5)
print(len(t))
new_t = sorted(t)
print(new_t)
print(max(t))
print(min(t))
print(sum(t))

5
[1, 2, 3, 4, 5]
5
1
15